nbproject/*
assets/*
!assets/.gitignore
!tmp/
tmp/*
!tmp/.gitignore
!tmp/formato.xls
!tmp/video.mp4
!tmp/avisos/
tmp/avisos/*
!tmp/avisos/.gitignore
!tmp/barcodes/
tmp/barcodes/*
!tmp/barcodes/.gitignore
!tmp/fotos/
tmp/fotos/*
!tmp/fotos/.gitignore
!tmp/usuarios/
tmp/usuarios/*
!tmp/usuarios/.gitignore
!tmp/tc/
tmp/tc/*
!tmp/tc/.gitignore
uploads/*
!uploads/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
protected/config/*
#protected/modules/*
#!protected/modules/.gitignore
!protected/config/main-default.php
!protected/config/console-default.php
!protected/config/database-default.php
!protected/config/modules-default.php
!protected/config/params-default.php
/index.php
.DS_Store
.idea
.vscode
